/* ************ PAGE *********************/

#main-article-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  margin-bottom: 9em;
}

/************ ARTICLE *****************/

.article-container {
  position: relative;
  margin: auto;
  margin-top: 2em;
  text-align: center;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 2px 2px 2px 1px var(--main-bg-color);
  background-color: var(--dm-bg-color);
}

.article-container:hover {
  transform: scale(1.01);
  z-index: 10;
}

/***** Icons *****/

#delete-article,
#edit-article {
  position: relative;
  top: 0%;
  right: 45%;
  text-decoration: none;
  cursor: pointer;
}

#edit-article {
  right: -45%;
}

/***** Date ******/

time {
  position: relative;
  display: block;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.router-link {
  text-decoration: none;
}

/******Image ********/

img {
  max-width: 100%;
}

/******Contenu ********/

.content {
  word-break: normal;
  white-space: pre-wrap;
  margin-bottom: 4em;
}

/*********Footer Article **********/

.footer-article {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 0.5em;
  color: var(--second-bg-color);
}

/* For DarkMode */
.content,
time,
#title-article,
#edit-article {
  color: var(--main-text-color);
}

/* RESPONSIVE */

@media screen and (min-width: 900px) {
  #main-article-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1em;
  }

  .article-container {
    position: relative;
    margin: 0;
    grid-column: span 2;
  }
}

/* **************************** GRID *************************************/

.article-container:nth-child(7n + 1) {
  grid-column: 1 / span 2;
}
.article-container:nth-child(7n + 2) {
  grid-column: 3 / span 2;
}
.article-container:nth-child(7n + 3) {
  grid-column: 5 / span 2;
}
.article-container:nth-child(7n + 4) {
  grid-column: 7 / span 2;
}
.article-container:nth-child(7n + 5) {
  grid-column: 1 / span 2;
}
.article-container:nth-child(7n + 6) {
  grid-column: 3 / span 4;
}
.article-container:nth-child(7n + 7) {
  grid-column: 7 / span 2;
}

/* Sélectionne le dernier sur 1 (modulo 7) */

.article-container:last-child:nth-child(7n + 1) {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 9;
}

/* Sélectionne les deux derniers sur 2 (modulo 7) */

.article-container:last-child:nth-child(7n + 2) {
  grid-column-start: 5;
  grid-column-end: 9;
}

.article-container:nth-last-child(2):nth-child(7n + 1) {
  grid-column-start: 1;
  grid-column-end: 5;
}

/* Sélectionne les trois derniers sur 3 (modulo 7) */

.article-container:last-child:nth-child(7n + 3) {
  grid-column-start: 7;
  grid-column-end: 9;
}

.article-container:nth-last-child(2):nth-child(7n + 2) {
  grid-column-start: 3;
  grid-column-end: 7;
}

.article-container:nth-last-child(3):nth-child(7n + 1) {
  grid-column-start: 1;
  grid-column-end: 3;
}

/* Sélectionne les quatre derniers sur 4 (modulo 7) */

.article-container:last-child:nth-child(7n + 4) {
  grid-row-start: 1;
  grid-column-start: 5;
  grid-column-end: 9;
}

.article-container:nth-last-child(2):nth-child(7n + 3) {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 5;
}

.article-container:nth-last-child(3):nth-child(7n + 2) {
  grid-column-start: 5;
  grid-column-end: 9;
}

.article-container:nth-last-child(4):nth-child(7n + 1) {
  grid-column-start: 1;
  grid-column-end: 5;
}

/* Sélectionne les deux dernier sur 5 ( modulo 7) */

.article-container:last-child:nth-child(7n + 5) {
  grid-column-start: 1;
  grid-column-end: 9;
}

/* Sélectionne le dernier sur 6 (modulo 7) */

.article-container:last-child:nth-child(7n + 6) {
  grid-column-start: 5;
  grid-column-end: 9;
}

.article-container:nth-last-child(2):nth-child(7n + 5) {
  grid-column-start: 1;
  grid-column-end: 5;
}
