.container-for-scroll {
  position: fixed;
  bottom: 0;
  top: 5vh;
  width: 90%;
  max-height: 90%;
  z-index: 1000;
}

#overlaye {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 80%;
  z-index: -1;
}

#modale-new-article::-webkit-scrollbar {
  display: none;
}

#modale-new-article {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 20;
  overflow-y: scroll;
  max-height: 100vh;
}

/***** FORMULAIRE ******/
legend {
  width: 100%;
  font-size: 1.6em;
  font-weight: 700;
  padding: 0.6em;
  font-family: "Rubik";
  color: var(--second-text-color);
  background-color: var(--main-bg-color);
  border-block: 10px ridge white;
}

fieldset {
  background-color: var(--dm-bg-color);
  border: none;
}

#title-article {
  border-radius: 10px;
  margin-top: 5em;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 1.5em;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 1.5em;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 1.5em;
}

input::placeholder,
textarea::placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 1.5em;
}

input,
select {
  margin-bottom: 2em;
  width: 85%;
  line-height: 2em;
  text-align: center;
}

textarea {
  width: 85%;
  border-radius: 10px;
  resize: none;
}

select {
  height: 2.6em;
  margin-top: 3em;
  border-radius: 10px;
}

#button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: auto;
  margin-top: 2em;
}

button {
  font-size: 1.5em;
  width: 48%;
  padding: 0.5em 1em;
  background-color: var(--main-bg-color);
  color: white;
  border: 1px;
  cursor: pointer;
}

span {
  color: red;
}

/*********************RESPONSIVE MOBILE *********************************/
/********************* RESPONSIVE TABLET AND DESKTOP ********************/
@media screen and (min-width: 600px) {
  #button-container {
    width: 60%;
  }
  #modale-new-article {
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    border-radius: 1em;
    z-index: 20;
    max-height: 100vh;
    overflow-y: scroll;
  }
  fieldset {
    border-radius: 10em;
  }
  legend {
    width: 80%;
    border-radius: 50% 50%;
  }
}

/********************* RESPONSIVE DESKTOP ********************/
@media screen and (min-width: 1150px) {
  select,
  input {
    width: 60%;
  }
  #modale-new-article {
    width: 60%;
  }
}
/*# sourceMappingURL=NewArticleForm.css.map */