/* HEADE */
/*
Nav Bar Container 
  (if connected):
    -Menu Desktop (min-width:900px) or Burger Menu
          |-----> menu-desktop-span        |---->container-user-menu
                                                        |--->list-user-menu

  -Container Title
          |------>h1
                   |------>link-title

  -User Icon (if disconnect) or disconnect icon and Name(min-width 600px)
*/
.header-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  border-block: 1px solid black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: var(--main-bg-color);
  z-index: 600;
}

.menu-desktop-span {
  display: inline-block;
  font-size: 1.4em;
  color: white;
  text-decoration: underline;
  margin-left: 1em;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#toggle-button {
  position: absolute;
  margin-left: 1em;
}

/*************** TITRE ****************/
h1 {
  display: inline-block;
  margin: 0;
  padding: 0.2em;
  text-align: center;
  font-family: "Rubik";
  font-size: 3em;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  outline: 5px solid var(--second-bg-color);
}

h1 a {
  text-decoration: none;
  color: white;
  text-shadow: #aaa;
}

/*************** ICONES **********************/
.icon {
  color: white;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-size: 3em;
  cursor: pointer;
}

#user-account {
  font-size: 1.4em;
}

#user-firstname {
  display: none;
  margin-right: 1em;
}

#menu-desktop {
  display: none;
  margin-left: 20%;
}

/***** MENU SMARTPHONE ***********************/
#menu-mobile {
  margin-top: -5px;
  z-index: 300;
}

#list-user-menu {
  padding: 0;
  width: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#list-user-menu > li {
  list-style-type: none;
  text-align: center;
  font-size: 1.5em;
  padding: 1em;
  background-color: var(--second-bg-color);
  color: white;
  border: 1px solid black;
  border-top: none;
  cursor: pointer;
}

#menu-mobile {
  position: fixed;
  width: 100%;
  top: 80px;
}

/* *********************ANIMATION SIGNFORM ************************ */
.sign-form-enter-active {
  -webkit-transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.sign-form-leave-active {
  -webkit-transition: all 0.6s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.6s cubic-bezier(1, 0.5, 0.8, 1);
}

.sign-form-enter-from,
.sign-form-leave-to {
  -webkit-transform: translateX(1500px);
          transform: translateX(1500px);
  opacity: 0;
}

/*************** RESPONSIVE DESKTOP *******************************/
@media screen and (min-width: 1000px) {
  #container-user-menu,
  #icon-burger-menu,
  #menu-mobile {
    display: none;
  }
  #menu-desktop {
    display: inline-block;
  }
}

/*************** RESPONSIVE TABLETTE *******************************/
@media screen and (max-width: 1000px) {
  #toggle-button {
    display: none;
  }
}

/*************** RESPONSIVE SMARTPHONE *******************************/
@media screen and (min-width: 600px) {
  .header-container {
    position: fixed;
    top: 0;
  }
  #user-firstname {
    display: inline-block;
  }
}
/*# sourceMappingURL=TheHeader.css.map */