#container-list-users {
  padding-top: 4em;
}

table {
  margin: auto;
  margin-top: 1em;
  border-collapse: collapse;
  width: 80%;
}

td,
th {
  border: 1px solid;
  padding: 1.2em 0em;
  background-color: white;
  text-align: center;
}

input {
  border: none;
  display: inline-block;
  text-align: center;
}

#input-id {
  display: none;
}
